.scroll_btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: 50%;
    cursor: pointer;

    transition: opacity 0.3s;
    opacity: 0;
    z-index: 100;
}
.scroll_btn.visible {
    opacity: 1;
}
.icon {
    color: white;
}

@media (max-width: 600px) {
    .scroll_btn {
        bottom: 20px;
        right: 20px;
    }
}