.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #fff;
    width: 100vw;
    height: 100vh;
}
.close_btn {
    outline: none;
    border: none;
    background: transparent;
    margin: 20px;
}
.cont {
    position: relative;
}
.photo_cont {
    width: auto;
    height: 90vh;
}
.photo {
    text-align: center;
    object-fit: contain;
}