.dropdown {
    width: 220px;
    border: 1px solid #222222;
    border-radius: 7px;
    user-select: none;
    color: #222222;
    background: transparent;
    margin-right: -10px;
}
.dropdown_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.dropdown:hover {
    background: rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}
.dropdown_items_block {
    position: absolute;
    z-index: 2;
    background: white;
    width: 220px;
    border: 1px solid #222222;
    border-radius: 0 0 7px 7px;
    border-top: none;
}
.dropdown_item {
    background: white;
    transition: 0.3s;
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    outline: none;
    width: 100%;
    justify-content: center;
}
.dropdown_item:hover {
    background: rgba(0, 0, 0, 0.05);
}
.dropdown_item2 {
    background: white;
    transition: 0.3s;
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 0 0 7px 7px;
    justify-content: center;
}
.dropdown_item2:hover {
    background: rgba(0, 0, 0, 0.05);
}
.dropdown_text {
    margin: 5px;
}
.dropdown_header_text {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
