.toggle_btn {
    width: 220px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    position: relative;
    z-index: 7;


    font-style: italic;
    font-size: 14px;
    color: #9a9999;
    background: white;
    padding: 5px 10px 5px 10px;
}
.btn_text {
    color: black;
    /*font-weight: bold;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal {
    position: absolute;
    top: 150px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}
.search_block {
    background: white;
    height: 50vh;
    padding: 20px 0;
}
.close_block {
    display: flex;
    justify-content: flex-end;
}
.icon {
    cursor: pointer;
}
.main_block {
    width: 50%;


}
.sug_block {
    overflow-y: scroll;
    max-height: 37vh;
    overflow-x: hidden;
}

.more{
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    min-height: 50px;
    /*color: white;*/
    font-weight: 500;
    transition: 0.3s;
    /*background-color: #000000;*/
    border-radius: 15px;
}
.more:hover {
    /*background: rgba(0, 0, 0, 0.05);*/
    cursor: pointer;
    transform: scale(1.05); /* Увеличиваем элемент при наведении */
}
.sugg_product {
    display: flex;
    align-items: center;
    padding: 0px;
    padding-left: 10px;
    border: 1px solid white;
    /*margin-bottom: 4px;*/
    border-radius: 8px;
    text-decoration: none;
    color: black;
    min-height: 72px;
    justify-content: space-between;
    transition: 0.3s;
}

.sale {
    background: rgba(255, 0, 0, 0.08);
    color: rgba(182, 18, 18, 0.85);
    font-size: 9px;
    /*user-select: none;*/
    padding: 2px 6px 2px 6px;
    border-radius: 7px;
    margin-left: 4px;
    /*margin-top: 2px;*/
    /*margin-bottom: 20px;*/
    /*min-width: 45px;*/

    font-weight: 600;
    /*border-width: 1px; !* Толщина границы *!*/
    /*border-color: rgb(0, 0, 0); !* Цвет границы (в данном случае, красный) *!*/
    /*border-style: solid; !* Стиль границы (по умолчанию, сплошная линия) *!*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*align-content: center;*/
    /*margin-right: 5px;*/
}

.price_default {
    font-size: 11px;
    font-weight: 500;
}
.price_sale {

    font-size: 11px;
    /*color: green;*/
    color: #940a0a;
    /*color: rgba(189, 24, 24, 0.79);*/
    margin-right: 4px;
    font-weight: 500;
}

.sugg_product img {
    max-width: 85px;
    max-height: 78px;
    /*margin-right: 12px*/

}

.sugg_product .details {
    display: flex;
    flex-direction: column;
}

.sugg_product .result {
    font-weight: bold;
}
.details{
    font-weight: bold;
}

.type{
    font-size: 13px;
    padding-right: 14px;
}
.sugg_product .details {
    color: gray;

}

.sugg_product_div {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    transition: 0.3s;
    align-items: center;
}
.sugg {

    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 7px;
    padding-left: 18px;
    padding-right: 0px;
    transition: 0.3s;
}
.sugg:hover {
    /*background: rgba(0, 0, 0, 0.05);*/
    transform: scale(1.05); /* Увеличиваем элемент при наведении */
}
.sugg_product:hover {
    /*background: rgba(0, 0, 0, 0.05);*/
    transform: scale(1.05); /* Увеличиваем элемент при наведении */
    /*border: 1px solid black;*/

}


.brand {
    font-size: 14px;
    color: #393939;
    cursor: pointer;
    font-weight: 500;
}
.model {
    font-weight: 700;
    font-size: 20px;
}
.color {
    /*margin-top: -1px;*/
    /*margin-bottom: -1px;*/
    font-size: 12px;
    color: gray;
}
.result {
    color: black;
}
.type {
    color: #8d8d8d;
}