.cont {
    width: 60%;
}
.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}
.input {
    width: 100%;
    outline: none;
    border: 1px solid #9a9999;
    border-radius: 7px;
    padding: 5px;
    margin: 5px 0;
}
.half_row {
    width: 49%;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.datepicker {
    outline: none;
    border: 1px solid #9a9999;
    border-radius: 7px;
}
.datepicker:hover {
    background: transparent !important;
}
.dropdown {
    width: 100%;
    border: 1px solid #9a9999;
    border-radius: 7px;
    margin: 5px 0;
    cursor: pointer;
}
.toggle {
    cursor: pointer;
    padding: 5px;
}
.text {
    display: flex;
    justify-content: space-between;
}
.toggle:hover {
    background: rgba(0, 0, 0, 0.05);
}
.black_btn {
    color: white;
    background: black;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
}
.red_text {
    color: #b61212;
    text-align: center;
}
@media (max-width: 1200px) {
    .cont {
        width: 100%;
    }
}