.cont {
    margin-top: 130px;
    margin-bottom: 50px;
    min-height: 25vh;
}
.title_block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.link {
    color: #9a9999;
    cursor: pointer;
}
.text_underline {
    text-decoration: underline;
}
.shop_button {
    width: 200px;
    padding: 10px;
    background: black;
    color: white;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 7px;
    margin-top: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.login_block {
    display: flex;
}
.main_block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.items_block {
    width: 70%;
}
.promos_block {
    width: 28%;
}
.big_text {
    font-size: 20px;
}
.order_btn {
    color: white;
    background: black;
    font-weight: 500;
    padding: 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    width: 100%;
}
.green_text {
    margin: 0 0;
    color: green;
    font-size: 14px;
}
.red_text {
    margin: 0 0;
    color: #b61212;
    font-size: 14px;
}
@media (max-width: 1200px) {
    .cont {
        margin-top: 80px;
    }
    .login_block {
        display: inline;
    }
    .main_block {
        flex-direction: column-reverse;
    }
    .items_block, .promos_block {
        width: 100%;
    }
}