@font-face{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    src: url("../static/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "Montserrat";
    font-style: italic;
    font-weight: normal;
    src: url("../static/fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("../static/fonts/Montserrat-Medium.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
div {
    color: black;
}
button {
    color: black;
}
.slider {
    margin-top: 15px;
    width: 260px;
    height: 4px;
    background: #cbcbcb;
    border-radius: 7px;
}
.slider .thumb {
    width: 20px;
    height: 20px;
    cursor: grab;
    background: #ffffff;
    border: 2px solid #cbcbcb;
    outline: none;
    border-radius: 50px;
    top: -7px;
}
.custom_cont {
    margin-right: 3vw;
    margin-left: 3vw;
}
@media (max-width: 1200px) {
    .custom_cont {
        margin-right: 8px;
        margin-left: 8px;
    }
}
@media (min-width: 1800px) {
    .custom_cont {
        margin-right: 10vw;
        margin-left: 10vw;
    }
}
@media (min-width: 1800px) {
    .custom_cont {
        margin-right: 10vw;
        margin-left: 10vw;
    }
}
@media (min-width: 2500px) {
    .custom_cont {
        margin-right: 15vw;
        margin-left: 15vw;
    }
}