@font-face{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    src: url("../static/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "Montserrat";
    font-style: italic;
    font-weight: normal;
    src: url("../static/fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("../static/fonts/Montserrat-Medium.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body {
    overflow-x: clip;
    text-underline-offset: 2px;
}
body.modal-open #navbar {
    width: calc(100% - 17px);
}
.modal-open {
    overflow-y: scroll;
}
.modal-backdrop {
    overflow-y: clip;
}
button {
    color: black;
}
input {
    caret-color: black;
}
.slider {
    margin-top: 15px;
    width: 260px;
    height: 4px;
    background: #cbcbcb;
    border-radius: 7px;
}
.slider .thumb {
    width: 20px;
    height: 20px;
    cursor: grab;
    background: #ffffff;
    border: 2px solid #cbcbcb;
    outline: none;
    border-radius: 50px;
    top: -7px;
}
.cont_up {
    padding-top: 30px;
    flex: 1;
}
.custom_cont {
    margin-right: 3vw;
    margin-left: 3vw;
}
.mobile_d{
    display: none;
    align-items: center;
}
.desktop_d {
    display: flex;
    align-items: center;
}
.red_text {
    color: #b61212;
}
.green_text {
    color: green;
}
.placeholder_img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    object-fit: cover;
}
.splide__arrow {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    width: fit-content !important;
}
.splide__arrow--prev {
    left: 0 !important;
}
.splide__arrow--next {
    right: 0px !important;
}
@media (max-width: 1200px) {
    .custom_cont {
        margin-right: 8px;
        margin-left: 8px;
    }
    .mobile_d {
        display: flex;
    }
    .desktop_d {
        display: none;
    }
    .placeholder_img {
        z-index: -1;
        object-fit: contain;
    }
    body.modal-open #navbar {
        width: 100%
    }
    .splide__arrow--next {
        right: 0 !important;
    }
    body.body-scroll-clip {
        overflow-y: clip;
    }
}
@media (min-width: 1800px) {
    .custom_cont {
        margin-right: 10vw;
        margin-left: 10vw;
    }
}
@media (min-width: 1800px) {
    .custom_cont {
        margin-right: 10vw;
        margin-left: 10vw;
    }
}
@media (min-width: 2500px) {
    .custom_cont {
        margin-right: 15vw;
        margin-left: 15vw;
    }
}