.cont {
    margin-top: 150px;
    margin-bottom: 100px;
}
.big_pict_block {
    display: flex;
}
.collections {

}
.hr {
    margin: 40px 0;
}
.title_block {
    max-width: 50%;
}
.title {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 0;
}
.link {
    text-decoration: underline;
    font-size: 14px;
    color: #888888;
}
.link:hover {
    color: #464646;
}
.more_btn {
    background: black;
    color: white;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 15px;
    margin-top: -15px;
}
.desktop {
    display: flex;
}
.mobile {
    display: none;
}
@media (max-width: 1200px) {
    .cont {
        margin-top: 70px;
    }
    .big_pict_block {
        flex-wrap: wrap;
    }
    .title {
        margin-left: 0;
        font-size: 20px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
}