.container {
    margin-top: 130px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.col1 {
    width: 60%;
}
.col2 {
    width: 37%;
}
.col50 {
    width: 50%;
}
.photo {
    width: 100%;
    height: 440px;
    text-align: center;
    object-fit: contain;
}
.brand {
    font-size: 15px;
    color: #727272;
    cursor: pointer;
}
.model {
    font-weight: 700;
    font-size: 20px;
}
.color {
    font-size: 14px;
    margin-bottom: 42px;
}
.price_default {
    font-size: 16px;
}
.price_sale {
    font-size: 19px;
    color: #b61212;
    margin-right: 7px;
}
.icons {
    margin: 0 7px;
}
.bonuses_block {
    display: inline;
    align-items: center;
}
.bonuses {
    margin: 3px 0;
    color: green;
}
.bonus_icon {
    margin-top: -3px;
}
.modals_block {
    display: flex;
    justify-content: space-between;
}
.btn_group {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 10px 0;
    flex-wrap: wrap;
}
.grey_text {
    color: #727272;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}
.how {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.cart_btn {
    border: none;
    outline: none;
    border-radius: 7px;
    background: black;
    color: white;
    min-height: 40px;
    width: 64%;
    transition: 0.3s;
}
.cart_btn:disabled {
    background: #8d8d8d;
}
.fav_btn {
    border: 1px solid black;
    outline: none;
    border-radius: 7px;
    background: white;
    color: black;
    min-height: 40px;
    width: 34%;
}
.fav_btn2 {
    border: 1px solid black;
    outline: none;
    border-radius: 7px;
    background: white;
    color: black;
    min-height: 40px;
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.link_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px 0;
}
.link {
    color: #9a9999;
}
.link:hover {
    color: #9a9999;
}
.more {
    margin-top: 40px;
    margin-bottom: 20px;
    overflow: hidden;
}
.more_color {
    font-size: 14px;
}
.description {
    margin: 20px 0 20px 0;
}
.characteristics_title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}
.characteristics {
    margin: 5px 0;
    font-weight: 500;
    font-size: 15px;
}
.characteristics_text {
    margin: 5px;
    font-weight: 400;
    font-size: 15px;
}
.more_btn {
    display: flex;
    justify-content: space-between;
    outline: none;
    background: none;
    border: none;
}
.more_text {
    margin-right: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
}
.slider {
    position: relative;
    margin-top: 40px;
}
@media (max-width: 1200px) {
    .container {
        margin-top: 80px;
    }
    .row {
        flex-direction: column;

    }
    .col1, .col2, .col50 {
        width: 100%;
    }
    .color {
        margin-bottom: 20px;
    }
    .slider {

    }
    .photo {
        height: 60vh;
    }
    .more {
        margin-top: 0;
    }
}


.cont {
    margin-top: 130px;
    margin-bottom: 50px;
    min-height: 25vh;
}
.title_block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.cart_link {
    color: #9a9999;
    cursor: pointer;
    white-space: nowrap;
}
.text_underline {
    text-decoration: underline;
}
.shop_button {
    width: 200px;
    padding: 10px;
    background: black;
    color: white;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 7px;
    margin-top: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.login_block {
    display: flex;
}
.main_block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.items_block {
    width: 70%;
}
.promos_block {
    width: 28%;
}
.big_text {
    font-size: 20px;
}
.order_btn {
    color: white;
    background: black;
    font-weight: 500;
    padding: 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    width: 100%;
}
.green_text {
    margin: 0 0;
    color: green;
    font-size: 14px;
}
.red_text {
    margin: 0 0;
    color: #b61212;
    font-size: 14px;
}
.questions_block {
    margin-top: 10px;
}
.point_block {
    width: 35%;
    white-space: nowrap;
}
.line {
    height: 3px;
    background: linear-gradient(90deg, rgba(190,190,190,1) 0%, rgba(0,0,0,1) 100%);
}
.text {
    font-weight: 500;
}
.faq_block {
    padding: 0;
    margin-bottom: 30px;
    text-align: left;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.text_cont {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.text_cont div {
    font-size: 18px;
}
.link {
    color: black;
}
.icons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 30px;
}
.icon {
    cursor: pointer;
}
.img_cont {
    position: relative;
    width: 100%;
    height: 350px;
}
.img {
    object-fit: contain;
}
@media (max-width: 1200px) {
    .cont {
        margin-top: 80px;
    }
    .login_block {
        display: inline;
    }
    .main_block {
        flex-direction: column-reverse;
    }
    .items_block, .promos_block {
        width: 100%;
    }
    .faq_block {
        padding: 0;
    }
    .questions_text {
        font-size: 16px;
    }
    .point_block {
        width: 45%;
        font-size: 13px;
    }
    .img_cont {
        height: 200px;
    }
}

.arrows_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 20px;
    margin: 20px;
}
.arrows_block {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.arrows_cont {
    position: relative;
    width: 100%;
    height: 50px;
}
.arrow_img {
    object-fit: contain;
}
.how_btn {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #727272;
    transition: 0.3s;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.how_btn:hover {
    color: #444444;
}
.label {
    text-align: left;
}
.icon_how {
    margin: 0 10px;
    min-width: 25px;
    height: auto;
}