.cont {
    margin-top: 150px;
    margin-bottom: 70px;
}
.section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.main_block {
    width: 65%;
}
.promos_block {
    width: 30%;
}
.big_text {
    font-size: 20px;
}
.order_btn {
    color: white;
    background: black;
    font-weight: 500;
    padding: 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    width: 100%;
}
.green_text {
    margin: 0 0;
    color: green;
}
.red_text {
    margin: 0 0;
    color: #b61212;
}
.questions_block {
    margin-top: 10px;
}
.faq_block {
    padding: 0;
    margin-bottom: 30px;
    text-align: left;
}
@media (max-width: 1200px) {
    .cont {
        margin-top: 78px;
    }
    .section {
        flex-direction: column;
    }
    .promos_block, .main_block {
        width: 100%;
        margin-bottom: 30px;
    }
    .faq_block {
        padding: 0;
    }
    .questions_text {
        font-size: 16px;
    }
}