.cont {
    margin-top: 150px;
}
.border {
    border: 2px solid #222222;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    white-space: nowrap;
    min-height: 51px;
}
.border:hover {
    background: rgba(0, 0, 0, 0.05);
}
.filter_toggle {
    border: 2px solid #222222;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
}
.filter_icon {
    margin-right: 5px;
    transform: translateY(4px);
}
.filter_sort_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 0;
    position: sticky;
    top: 150px;
    z-index: 6;
}
.product_list_row {
    display: flex;
    position: relative;
}
.modal {
    position: fixed;
    z-index: 7;
    top: 84px;
    left: 0;
    background: white;
    width: 100vw;
    height: 100vh;
    padding: 15px 15px 150px 15px;
    overflow-y: scroll;
}
.modal_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.modal_header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.modal_text {
    font-weight: 700;
    font-size: 20px;
    margin-right: 10px;
}
.number {
    color: white;
    background: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
    line-height: 20px;
}
.modal_btn {
    border: 2px solid #222222;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.modal_btn:hover {
    background: rgba(0, 0, 0, 0.05);
}
.results {
    width: 90%;
    background: black;
    color: white;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 7px;
    margin-top: 70%;
    position: fixed;
    bottom: 20px;
    opacity: 0.85;
    z-index: 4;
}
.desktop {
    display: flex;
}
.mobile {
    display: none;
}
@media (max-width: 1200px) {
    .border, .filter_toggle {
        border: none;
    }
    .modal_btn {
        padding: 5px;
        font-size: 14px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
}

@media (max-width: 600px) {
    .cont {
        margin: 30px 0 0 0;
        padding: 15px;
    }
}