.empty_text {
    font-weight: 700;
    margin: 10px 0 20px 0;
}
.button {
    color: white;
    background: black;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 7px;
    margin-bottom: 30px;
    cursor: pointer;
}
.wishlist_cont {
    display: flex;
    flex-wrap: wrap;
}