.toggle_btn {
    outline: none;
    background: transparent;
    border: none;
    margin: 0 10px;
}
.close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.search_modal {
    position: absolute;
    z-index: 5;
    top: 40px;
    left: 0;
    background: white;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}
.sug_block {
    overflow-y: scroll;
    max-height: 90vh;
}
.sugg {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 7px;
    transition: 0.3s;
}
.sugg:hover {
    background: rgba(0, 0, 0, 0.05);
}
.result {
    color: black;
}
.type {
    color: #8d8d8d;
}