.dropdown {
    width: 280px;
    user-select: none;
    color: #222222;
    background: transparent;

}
.dropdown_toggle {
    cursor: pointer;
    padding: 7px 0;
}
.dropdown_toggle_text {
    margin: 5px 5px 5px 20px;
    display: flex;
    justify-content: space-between;
}