.toggle_btn {
    outline: none;
    border: none;
    background: transparent;
    margin: 0 10px 0 5px;
}
.list_icon {

}
.sidebar {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 101vw;
    height: 101vh;
    background: white;
    padding: 130px 0 0 0;
    overflow-y: scroll;
}
.header_block {
    padding-top: 20px;
    position: fixed;
    background: white;
    width: 101vw;
    top: 0;
    z-index: 3;
}
.sidebar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
.header_block hr {
    margin-bottom: 0;
}
.auth_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    margin-top: 15px;
    width: 100%;
    text-decoration: none;
}
.person_block {
    display: flex;
    align-items: center;
}
.person_icon {
    width: 20px;
    margin-right: 10px;
}
.section_container {
    padding: 0 20px;
    position: relative;
}
.back_cont {
    position: fixed;
    padding: 15px 20px 5px 20px;
    top: 110px;
    left: 0;
    background: white;
    width: 100%;
    z-index: 1;
}
.back_btn {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    background: transparent;
}
.back_icon {
    transform: rotate(180deg);
    margin-right: 10px;
}
.section_block {
    display: flex;
    justify-content: space-between;
    padding: 17px 20px;
    text-decoration: none;
    color: black;
}
.section_block:active {
    background: #e3e3e3;
}
.all_link_block {
    position: sticky;
    width: 100%;
    background: white;
    z-index: 1;
    padding: 10px 0;
}
.all_link {
    color: #8d8d8d;
    font-size: 18px;
}
.img_cont {
    position: relative;
    width: 100%;
    height: 60vh;
}
.col {
    margin: 20px 0;
}
.truck {
    margin-left: 7px;
}
.sale {
    color: #b61212;
}
.sidebar_footer {
    background: black;
    height: 100%;
    margin-top: 10px;
    padding: 4px 20px;
}
.sidebar h4 {
    font-size: 18px;
}
.sidebar_text {
    color: #c4c0c0;
    display: block;
    margin: 10px 0;
}
.sidebar_links{
    text-decoration: none;
    color: #c4c0c0;
    display: block;
    margin: 10px 0;
}
.sidebar_links:hover {
    color: #9a9999;
}
.icons_block {
    display: flex;
    margin-top: 20px;
    gap: 50px;
}
.icon {
    width: 30px;
    cursor: pointer;
}
.link {
    margin: 15px 0;
    color: black;
    display: block;
    text-decoration: none;
}
.footer_link {
    text-decoration: none;
    color: #c4c0c0;
    display: block;
    margin: 10px 0;
    transition: 0.3s;
}
.footer_link:active {
    color: #9a9999;
}
.social_media {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}