.dropdown {
    user-select: none;
    color: #222222;
    background: transparent;
}
.dropdown_toggle {
    cursor: pointer;
    font-weight: 700;
    padding: 7px 0;
}
.dropdown_toggle_text {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.dropdown_toggle:hover {
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.05);
}

