.dropdown {
    width: 100%;
    border: 1px solid black;
    border-radius: 7px;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}
.header_text {
    font-size: 20px;
    margin: 0 10px;
}
.header_block {
    display: flex;
    flex-grow: 1;
}
.header_col {
    display: flex;
}
.icon_block {
}
.icon {
    cursor: pointer;
}
.details_block {

}
.order {
    padding: 15px;
    border-bottom: 1px solid black;
}
.row {
    min-height: 300px;
    display: flex;
}
.inner_row {
    display: flex;
    flex-grow: 1;
}
.col1 {
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.img {
    width: 100%;
}
.col {
    width: 24%;
}

.brand {
    color: #727272;
    margin-bottom: 5px;
}

.number_block {
    margin-top: 16px;
}

.ship_block {
    margin-top: 22px;
}

.icon {
    cursor: pointer;
}
.final_block {
    display: flex;
    padding: 15px;
}
.final_col {
    width: 50%;
}
.prices {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1200px) {
    .header_col {
        display: block;
    }
    .header_text {
        font-size: 15px;
    }
    .inner_row {
        flex-direction: column;
        flex-grow: 1;
    }
    .col1 {
        align-items: center;
        width: 200px;
    }
    .col {
        width: 100%;
    }
    .brand {
        font-size: 12px;
    }
    .text {
        font-size: 12px;
    }
    .dropdowns {
        margin-top: 10px;
    }
    .ship_block {
        margin-top: 10px;
    }
    .prices {
        font-size: 10px;
    }
}