.btn {
    border: none;
    outline: none;
    border-radius: 7px;
    min-height: 40px;
    margin-bottom: 5px;
}
.black {
    background: black;
    color: white;
}
.white {
    background: white;
    color: black;
    border: 1px solid black;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
}
.half_text {
    width: 48%;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.crossed {
    text-decoration: line-through;
}
.sale_price {
    margin-left: 10px;
    color: #b61212;
}

@media (max-width: 1200px) {
    .display_none {
        display: none;
    }
    .content {
        flex-wrap: wrap;
    }
    .half_text {
        width: 100%;
    }
}