.line {
    width: 100%;
    background: #751627;
    margin-bottom: 20px;
    padding: 9px 0;
}
.splide {
    color: white;
    text-align: center;
    /*letter-spacing: 2px;*/
    font-size: 15px;
}
.link {
    color: #8d8d8d;
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .splide {
        font-size: 14px;
    }
}