.header {
    background: white;
    padding: 10px 0;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
}
.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block {
    display: flex;
    align-items: center;
}
.block1 {
    display: flex;
    align-items: center;
    margin-left: -11px;
}
.links {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin: 0 20px 0 0;
    transition: 0.3s;
}
.links:hover {
    color: #8d8d8d;
}
.sale_link {
    color: #b61212;
    text-decoration: none;
    cursor: pointer;
    margin: 0 20px 0 0;
    transition: 0.3s;
}
.sale_link:hover {
    opacity: 0.6;
}
.logo {
    font-size: 40px;
    transform: translate(-10%, -5px);
    user-select: none;
    text-align: center;
    cursor: pointer;
}
.auth_block {
    display: flex;
    cursor: pointer;
}
.icons {
    width: 25px;
    margin-left: 30px;
    cursor: pointer;
}
.name {
    transform: translateX(10px);
}
.truck {
    margin-left: 5px;
}
.h_text {
    margin-bottom: 20px;
    user-select: none;
}
.img_col {
    display: flex;
    flex-direction: column;
}
.pic_block {
    display: flex;
    justify-content: flex-end;
}
.megamenu_links {
    cursor: pointer;
    color: black;
    transition: 0.3s;
    margin: 5px 0;
}
.megamenu_links:hover {
    opacity: 0.7;
}
@media (max-width: 1000px) {
    .logo {
        font-size: 26px;
        transform: translateX(13px);
    }
    .icons {
        width: 20px;
    }
}